#Footer {
    text-align: center;
    
    h1 {
        font-size: 100pt;
    }
    h2 {
        font-size: 20pt;
    }

    a,button {
        color: #ffd4a3;
        font-size: 20pt;
        margin: 0 2rem;
    }
}