@tailwind base;
@tailwind components;
@tailwind utilities;

.fp-watermark {
  display: none
}

#fp-nav span {
  background-color: #aaa !important
}

@font-face {
  font-family: 'Marshmallow';
  src: url('./HanyiSentyMarshmallow.ttf')
}