.message {
    padding: 3em;
    padding-right: 4em;

    blockquote {
        quotes: "\201C" "\201D" "\2018" "\2019";
        // padding-left: 2em;
        line-height: 18pt;

        @media(max-width: 768px) {
            margin-right: 5em;
    
            .bolding {
                font-size: 15pt;
    
                &.super {
                    font-size: 25pt;
                    line-height: 30pt;
                }
            }
        }
    }

    blockquote:before {
        color: #ffd4a3;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;

        @media(max-width: 768px) {
            font-size: 2em;
        }
    }

    blockquote p {
        display: inline;
    }

    .bolding {
        font-size: 16pt;
        line-height: 18pt;
        display: inline-flex;
    
        &.super {
            font-size: 24pt;
            line-height: 24pt;
        }
    }

    .text-scramble {
        white-space: nowrap;
    }

    .suffix {
        font-weight: 600;
    }

    @media(max-width: 1024px) {
        blockquote {
            margin-right: 0;
        }

        .suffix {
            padding: 2em;
            text-align: right;
        }

        .suffix-in {
            display: none;
        }
    }

    @media(min-width: 1024px) {
        .suffix-out {
            display: none;
        }
    }
}