.rsvp-container{
    h1 {
        font-size: 20pt;
        margin: 1em 0.5em;
        text-align: center;
    }

    padding: 3rem;

    div[class^="col"] > div {
        margin-bottom: 1em;
    }

    form {
        .css-13cymwt-control, .addl-class__control {
            // height: 2em;
            border-radius: 0;
            background-color: transparent;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }

        .addl-class__single-value {
            color: white;
        }

        button:hover {
            background-color: #ffd4a3;
        }

        label {
            // font-variant: small-caps;
            // background-color: #ffd4a3;
            font-weight:700;
            font-size: larger;
            font-family: 'Marshmallow';
        }

        .text-muted {
            color: white !important
        }
    }

    input {
        padding: 0;
        font-weight: bold;
    }

    input:focus, .addl-class__control--is-focused {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #ffd4a3 !important;
    }

    .addl-class__menu {
        background-color: #222;
    }

    button {
        width: 50%;
    }

    @media(max-width:768px) {
        button {
            width: 100%;
        }
    }

    .card-header {
        border-bottom: 1px solid #ffd4a3;
    }

    .inline-venue {
        display: flex;
        align-items: center;
        margin: 5pt 0;

        input {
            border: 1px solid #ffd4a3;
        }
        label {
            color:#ffd4a3 !important;
        }

        .error {
            label {
                color: red !important;
            }
        }

        input:not(:checked) {
            background-color: #333;
        }

        a {
            display: inline-flex;
            align-items: center;
            padding: 5px;
            margin: auto 5pt;
            
            .to-the-right {
                display: none;
                font-size: x-small;
            }
        }

        a.active {
            background-color: #ffd4a3;
            * {
                color: #333
            }
            
            .to-the-right {
                display: block;
            }
        }

        a.disabled {
            text-decoration: line-through;
            background: transparent;

            * {
                color: rgb(255,255,255,0.3)
            }
            // color: #ffd4a3;
        }
    }

}

