.rsvp-container{
    h1 {
        font-size: 30pt;
    }

    padding: 0 3rem;

    form {
        .css-13cymwt-control {
            height: 3em;
            margin-bottom: 1em;
        }

        button {
            width: 100%;
        }
    }
}

