.rsvp-container{
    h1 {
        font-size: 20pt;
        margin: 1em 0.5em;
        text-align: center;
    }

    padding: 3rem;

    div[class^="col"] > div {
        margin-bottom: 1em;
    }

    form {
        button[type="submit"] {
                width: 50%;
            }

        @media(max-width:768px) {
            button[type='submit'] {
                width: 100%;
            }
        }

        .css-13cymwt-control, .addl-class__control {
            // height: 2em;
            border-radius: 0;
            background-color: transparent;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }

        .addl-class__single-value {
            color: white;
        }

        button:hover {
            background-color: #ffd4a3;
        }

        label {
            // font-variant: small-caps;
            // background-color: #ffd4a3;
            // font-weight:700;
            font-size: small;
            opacity: 0.8;
            // font-family: 'Marshmallow';
        }

        .text-muted {
            color: white !important
        }

        select option {
            background-color: #222;
        }

        .form-text {
            font-style: italic;
        }

        textarea {
            padding: inherit;
            height: 80px;
        }
    }

    input {
        padding: 0;
        font-weight: bold;

        &::placeholder {
            color: #61584f;
        }
    }

    input:focus, .addl-class__control--is-focused {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #ffd4a3 !important;
    }

    .addl-class__menu {
        background-color: #222;
    }

    // button {
    //     width: 50%;
    // }


    .card-header {
        border-bottom: 1px solid #ffd4a3;
    }

    .inline-venue {
        display: flex;
        align-items: center;
        margin: 5pt 0;

        input {
            border: 1px solid #ffd4a3;
        }
        
        label {
            font-size: large;
            font-weight: bold;
            font-variant-caps: small-caps;
            color:#ffd4a3 !important;
        }

        .error {
            label {
                color: red !important;
            }
        }

        input:not(:checked) {
            background-color: #333;
        }

        a, button {
            display: inline-flex;
            align-items: center;
            padding: 5px;
            margin: auto 5pt;
            
            .to-the-right {
                display: none;
                font-size: x-small;
            }
        }

        a.active, button:hover {
            background-color: #ffd4a3;

            * {
                color: #333;
            }
            
        }

        a.disabled, button.disabled {
            text-decoration: line-through;
            background: transparent;

            * {
                color: rgb(255,255,255,0.3)
            }
            // color: #ffd4a3;
        }
    }

}

.modal-content {
    background-color: #222;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23f4c640' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #ffd4a3;

    .modal-header {
        text-align: center;
        display: initial;
        // justify-content: center;
        border-color: #FFC107;
    }

    .modal-body {
        background-color: #111;
        // border: 0;

        div[class*="col"] {
            margin: 1em 0;
        }
    }

    .modal-footer {
        justify-content: center;
        border-color: #FFC107;
    }

    button {
        background-color: #FFC107;
    }
}